.cursorDefault-dsQJ1n + rect{
	fill: transparent !important;
}

.cursorDefault-dsQJ1n + svg{
	fill: transparent !important;
}

.panels-j1Uci_ .avatar-SmRMf2 .mask-1l8v16 > svg > rect{
	fill: var(--status-color-persona) !important;
	transition: fill 1s linear;
}

.panels-j1Uci_ .avatar-SmRMf2 .mask-1l8v16 > .pointerEvents-2zdfdO{
	fill: transparent !important;
}

.panels-j1Uci_ .avatar-SmRMf2 .mask-1l8v16 rect[mask]{
	fill: var(--status-color-persona) !important;
	transition: fill 1s linear;
}

.pointerEvents-2zdfdO{
	transition: fill 1s linear;
}

/* Albee */
/* #region */
*[aria-label*="Albee"] *{
	--status-color-persona: rgb(102, 92, 122);
}

*[aria-label*="Albee"] .pointerEvents-2zdfdO{
	fill: var(--status-color-persona);
}

*[aria-label*="Albee"] .cursorDefault-dsQJ1n > rect{
	fill: var(--status-color-persona) !important;
	transition: fill 1s linear;
}
/* #endregion */

/* Flame */
/* #region */
*[aria-label*="Flame"] *{
	--status-color-persona: rgb(var(--fastRainbowColor));
}


*[aria-label*="Flame"] .pointerEvents-2zdfdO{
	fill: var(--status-color-persona);
}

*[aria-label*="Flame"] .cursorDefault-dsQJ1n > rect{
	fill: var(--status-color-persona) !important;
	transition: fill 1s linear;
}
/* #endregion */

/* Falcion */
/* #region */
*[aria-label*="Falcion"] *{
	--status-color-persona: #F28DC4;
}

*[aria-label*="Falcion"] .pointerEvents-2zdfdO{
	fill: var(--status-color-persona);
}

*[aria-label*="Falcion"] .dots-3Bkt3k{
	color: #3E3840;
}

*[aria-label*="Falcion"] .cursorDefault-dsQJ1n > rect{
	fill: var(--status-color-persona) !important;
	transition: fill 1s linear;
}
/* #endregion */

/* FenixoLáFen */
/* #region */
*[aria-label*="FenixoLáFen"] *{
	--status-color-persona: rgb(61, 162, 212);
}

*[aria-label*="FenixoLáFen"] .pointerEvents-2zdfdO{
	fill: var(--status-color-persona);
}

*[aria-label*="FenixoLáFen"] .cursorDefault-dsQJ1n > rect{
	fill: var(--status-color-persona) !important;
	transition: fill 1s linear;
}
/* #endregion */

/* Андрюша */
/* #region */
*[aria-label*="Ехидна"] *{
	--status-color-persona: rgb(255, 255, 255);
}

*[aria-label*="Ехидна"] .pointerEvents-2zdfdO{
	fill: var(--status-color-persona);
}

*[aria-label*="Ехидна"] .dots-3Bkt3k{
	color: #000;
}

*[aria-label*="Ехидна"] .cursorDefault-dsQJ1n > rect{
	fill: var(--status-color-persona) !important;
	transition: fill 1s linear;
}
/* #endregion */

/* combinator */
/* #region */
*[aria-label*="combinator"] *{
	--status-color-persona: #2e2031;
}

*[aria-label*="combinator"] .pointerEvents-2zdfdO{
	fill: var(--status-color-persona);
}

*[aria-label*="combinator"] .cursorDefault-dsQJ1n > rect{
	fill: var(--status-color-persona) !important;
	transition: fill 1s linear;
}
/* #endregion */

/* Sauzzeth */
/* #region */
*[aria-label*="sauzzeth"] *{
	--status-color-persona: rgb(255, 156, 156);
}

*[aria-label*="sauzzeth"] .pointerEvents-2zdfdO{
	fill: var(--status-color-persona);
}

*[aria-label*="sauzzeth"] .cursorDefault-dsQJ1n > rect{
	fill: var(--status-color-persona) !important;
	transition: fill 1s linear;
}
/* #endregion */

/* Rocker */
/* #region */
*[aria-label*="Rocker"] *{
	--status-color-persona: rgb(248, 52, 95);
}

*[aria-label*="Rocker"] .pointerEvents-2zdfdO{
	fill: var(--status-color-persona);
}

*[aria-label*="Rocker"] .cursorDefault-dsQJ1n > rect{
	fill: var(--status-color-persona) !important;
	transition: fill 1s linear;
}
/* #endregion */